* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin : 0;
    font-family: Arial, sans-serif;
    background: #f8f9fa;
}

.header {
  width: 100%;
  background-color: #2f0b5b;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;   /* keeps icon sharp */
  display: block;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 50%;
  font-weight: bold;
}

.product-page {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  gap: 40px;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-image img {
  width: 350px;
  border-radius: 12px;
  object-fit: cover;
}

.product-details {
  flex: 1;
}

.product-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-price {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-price {
  font-size: 24px;
  color: #28a745;
  font-weight: bold;
}

.old-price {
  font-size: 18px;
  color: #888;
  text-decoration: line-through;
}

.discount {
  font-size: 16px;
  color: #e63946;
  font-weight: bold;
}

.rating {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffb400;
}

.product-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
  line-height: 1.5;
}

.add-btn {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  background: #735fc1;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #1f0f5f;;
}

.remove-button{
  background-color: #ea0e20;
  margin-left: 10px;
}

.remove-button:hover{
  background-color: #ba0918;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.card:hover{
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title{
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brand{
  font-size: 13px;
  color: #666;
}

.price{
  font-size: 16px;
  font-weight: bold;
  color: #2a9d8f;
}

.rating{
  font-size: 13px;
  color: #999;
}

.btn-disable{
  background-color: gainsboro;
}

.btn-disable:hover{
  background-color: gainsboro;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
}

.cart-container{
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 100px;
}

.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.cart-header h2{
  font-size: 20px;
  margin : 0;
}

.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.item-info{
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-info img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.item-details{
  text-align: left; 
}

.item-actions .price{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-align: right;
}

.cart-footer{
  text-align: right;
  margin-bottom: 15px;
  font-weight: bold;
  color: green;
}